<%- include('./partials/head.ejs') %>
<form class="" action="/" method="post">
	<label for="nerdy">Type your Nerdy text here</label>
	<textarea name="nerdy" type="text" rows="5" autofocus><%= text%></textarea>
	<label for="color">Tshirt Color:</label>
	<select name="color" id="color">
		<option value="black">Pick a Color</option>
		<option value="black">Black</option>
		<option value="grey">Grey</option>
		<option value="white">White</option>
		<option value="green">Green</option>
		<option value="red">Red</option>
		<option value="blue">Blue</option>
	</select>
	<label for="text">Text Color:</label>
	<select name="text" id="text">
		<option value="red">Pick a Color</option>
		<option value="red">Red</option>
		<option value="blue">Blue</option>
		<option value="hotpink">Pink</option>
		<option value="white">White</option>
		<option value="pink">Black</option>
	</select>
	<label for="font">Text Font:</label>
	<select name="font" id="font">
		<option value="sans-serif">Pick a Font</option>
		<option style="font-family: verdana;" value="Verdana">Verdana</option>
		<option style="font-family: Comic Sans MS;" value="Comic Sans MS">Comic Sans MS</option>
		<option style="font-family: Impact;" value="Impact">Impact</option>
		<option style="font-family: Lucida Console;" value="Lucida Console">Lucida Console</option>
		<option style="font-family: Arial Black;" value="Arial Black">Arial Black</option>
	</select>
	<label for="size">Font Size:</label>
	<input id="size" type="number" min="20" max="60" name="size" value="20">
	<input type="submit" value="send"/>
</form>
<div id="make-shirt">
	<p id="shirt-text" style="color:<%= textColor%>; font-family:<%=font %>; font-size: <%= size%>px;"><% if (text === ""){%>

	<%} else {%>
		<%= text %>
	<%}%></p>
	<img id="img" src="img/shirt-<%=color%>.jpg" alt="<%= color%>" title="<%= color%>"/>
	<button id="button-first">Save as first Shirt</button>
	<button id="button-second">Save as second Shirt</button>
	<button id="button-third">Save as third Shirt</button>
</div>
<div class="clear"></div>
<div id="saved-items" hidden>
	<h2>Saved Items</h2>
	<p></p>
	<ul id="saved-shirts">
		<li id="shirtOne"></li>
		<li id="shirtTwo"></li>
		<li id="shirtThree"></li>
	</ul>
</div>

<%- include('./partials/foot.ejs') %>
